@import "colors-main.scss";
@import "common-main.scss";

.button {
  @extend .shadow;
  height: 40px;
  min-width: 110px;
  background: $white;
  border: none;
  outline: none;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: $blue-7;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: $blue-6;
}

.button:disabled {
  cursor: default;
  color: $gray-6;
}

.short-button {
  width: 80px;
  position: absolute;
  top: 10px;
}
