@import "colors-main.scss";

code {
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
}

a {
  color: $blue-6;
  outline: none;
  text-decoration: none;
}

blockquote {
  margin: 0 0 0 8px;
  padding: 0 0 0 5px;
  border-left: 2px solid $gray-5;
  color: $gray-6;
}

.commento-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}
