@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.commento-root-min-height {
  min-height: 350px;
}

.commento-root {
  overflow-x: hidden;
  padding: 0px;

  * {
    font-family: "Source Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #50596c;
    text-rendering: optimizeLegibility;
  }

  @import "colors-main.scss";
  @import "commento-common.scss";
  @import "commento-logged.scss";  // Logged in as <name>
  @import "commento-input.scss";   // Textarea decorations
  @import "commento-card.scss";    // Each comment card
  @import "commento-login.scss";   // Popup box when logging in
  @import "commento-footer.scss";  // Powered by Commento

  .commento-hidden {
    display: none;
  }

  .commento-blurred {
    filter: blur(4px);
  }

  .commento-main-area {
    transition: filter 0.2s;
  }

  .commento-error-box {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $red-7;
    font-weight: 700;
  }

  .commento-mod-tools {
    margin-bottom: 16px;

    button {
      text-transform: uppercase;
      color: $gray-7;
      font-size: 13px;
      font-weight: 700;
      cursor: pointer;
      margin-left: 12px;
      background: none;
      border: none;
    }
  }

  .commento-mod-tools::before {
    content: "Moderator Tools";
    text-transform: uppercase;
    color: $indigo-8;
    font-size: 13px;
    font-weight: 700;
  }

  .commento-moderation-notice {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $orange-7;
    font-weight: 700;
    margin-top: 16px;
  }

  .commento-dark-card {
    background: $yellow-0;
  }

  .commento-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    float: left;
    margin-right: 10px;
    border: 0px transparent;
  }

  .commento-avatar-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
  }
}
