textarea {
    overflow: hidden;
    min-height: 100px;
    width: 100%;
}

h5 {
    margin-bottom: 0 !important;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.submit_area {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.commento-comments {
    padding: 10px;
}

.root-elem {
    width: 50% !important;
    margin: 2px;
}

.card {
    margin-top: 3px;
    margin-bottom: 3px;
}

#coms {
    margin-top: 45px;
}

.card {
    border-bottom-color: #cccccc !important;
    border-top-color: #cccccc !important;
    border-left-color: #cccccc !important;
    border-right-color: #cccccc !important;
}

.hidden {
    display: none;
}
