textarea.textarea {
    overflow: hidden;
    min-height: 100px;
    width: 100%;
}

h5.h5 {
    margin-bottom: 0 !important;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.submit-area {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.comments {
    padding: 10px;
}

.root-elem {
    width: 50% !important;
    margin: 2px;
}

.card {
    margin-top: 3px;
    margin-bottom: 3px;
    border-color: #cccccc !important;
}

#commento-coms {
    margin-top: 45px;
}

.hidden {
    display: none;
}

.initial {
    display: initial;
}

.extra-margin {
    margin-left: 15px;
}

.margin {
    margin: 1px;
    width: 33%;
}

.button-holder {
    display: flex;
    width: 100%;
    margin: 2px;
}
