#commento {
    background: #fff;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #50596c;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

#commento code {
    background: #fdf4f4;
    font-family: monospace;
    line-height: 1.5;
    color: #e06870;
    padding: 4px;
}

#commento a {
    color: #1f89ff;
    border-bottom: 1px solid #1f89ff;
    outline: none;
    text-decoration: none;
}

#commento a:focus {
    box-shadow: 0 0 0 1px rgba(87, 85, 217, .2);
}

#commento .textarea {
    border: 1px solid #2c3e50;
    padding: 8px;
    outline: none;
    overflow: auto;
    min-height: 75px;
    width: 100%;
}

#commento .input,
#commento .post-btn {
    background: #fff;
    display: block;
    border: 1px solid #2c3e50;
    padding: 8px;
    outline: none;
    width: 100%;
    margin-top: 4px;
}

#commento .post-btn {
    cursor: pointer;
}

#commento .post-primary-btn {
    background: #2c3e50;
    color: #fff;
}

#commento .post-red-btn {
    background: #950000;
    border: 1px solid #950000;
    color: #fff;
}

#commento .other-fields {
    display: inline-block;
    padding-top: 5px;
    width: 50%;
}

#commento .other-fields-container {
    width: 100%;
    display: inline-block;
    text-align: right;
}

#commento .card {
    background: #fff;
    padding: 12px 0px 0px 12px;
    margin-top: 0px;
    margin-bottom: 8px;
    border-top: 1px solid #f0f0f0;
}

#commento .card-header {
    padding-bottom: 12px;
}

#commento .card-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    float: left;
    margin-right: 16px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 2px #f00;
}

#commento .card-avatar::after {
    content:"";
    display:block;
}

#commento .card-name {
    font-weight: bold;
}

#commento .card-subtitle {
    color: #777;
}

#commento .card-body {
    margin-top: 16px;
    margin-bottom: 8px;
}

#commento .card-options {
    float: right;
}

#commento .option-btn {
    background: #f8f8f8;
    border: none;
    color: #2c3e50;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    outline: none;
    height: 42px;
}

#commento .option-btn:focus {
    outline: none;
}

#commento-coms {
    margin-top: 12px;
}

#commento .hidden {
    display: none;
}

#commento .initial {
    display: initial;
}

#commento .input.is-error {
    border-color: #e85600;
}

#commento .loading {
    color: transparent !important;
    min-height: .8rem;
    pointer-events: none;
    position: relative;
}

#commento .loading::after {
    animation: loading 500ms infinite linear;
    border: .1rem solid #fff;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 550px) {
    #commento .other-fields {
        width: 100%;
    }
}
