<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Commento: Reset your password</title>
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0pt auto; padding: 0px; background:#f8f9fa;">
    <table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f9fa">
      <tbody>
        <tr>
          <td valign="top">
            <table cellpadding="0" width="580" cellspacing="0" border="0" bgcolor="#f8f9fa" align="center" style="margin:0 auto; table-layout: fixed;">
              <tbody>
                <tr>
                  <td colspan="4">

                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background: white; border-radius: 4px; box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02); margin-top: 30px;">
                      <tbody>
                        <tr><td height="40"></td></tr>

                        <tr style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; color:#495057; font-size:14px; line-height:20px; margin-top:20px;'>
                          <td colspan="2" valign="top" align="center" style="padding-left:90px; padding-right:90px;">

                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                              <tbody>
                                <tr><td height="30"></td></tr>

                                <!-- Title -->
                                <tr>
                                  <td align="center">
                                    <span style="font-size:22px;line-height: 24px;">
                                      Reset your Password
                                    </span>
                                  </td>
                                </tr>

                                <tr><td height="24"></td></tr>

                                <!-- Main content -->
                                <tr>
                                  <td align="center">
                                    <span style="color:#48545d;font-size:14px;line-height:24px;">
                                      Someone (probably you) recently initiated the procedure to reset your Commento account password. To complete this, click the link below and set your new password.
                                    </span>
                                  </td>
                                </tr>

                                <tr><td height="20"></td></tr>

                                <!-- Button -->
                                <tr>
                                  <td valign="top" width="48%" align="center">
                                    <span>
                                      <a href="{{.Origin}}/reset-password?hex={{.Hex}}" style="display:block; padding:15px 25px; background-color:#007aff; color:#ffffff; border-radius:3px; text-decoration:none;">Reset Password</a>
                                    </span>
                                  </td>
                                </tr>

                                <tr><td height="20"></td></tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr><td height="60"></td></tr>
                      </tbody>
                    </table>

                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr><td height="10"></td></tr>

                        <tr>
                          <td valign="top" align="center">
                            <span style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; color:#9EB0C9; font-size:10px;'>
                              If you did not initiate this request, you can safely ignore this email.
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
