[Unit]
Description=Commento daemon service
After=network.target postgresql.service

[Service]
Type=simple
ExecStart=/usr/bin/commento
Environment=COMMENTO_ORIGIN=https://commento.example.com
Environment=COMMENTO_PORT=8080
Environment=COMMENTO_POSTGRES=postgres://commento:commento@db:5432/commento?sslmode=disable
Environment=COMMENTO_STATIC=/usr/share/commento

[Install]
WantedBy=multi-user.target
